header {
  background: var(--dark);
}

header a {
  color: var(--light);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
