footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  background: var(--dark); /* Ensure this matches your design */
}

footer a {
  color: var(--light);
  opacity: 0.5;
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

/* style.css */
.social-icon {
  width: 24px; /* Adjust the size as needed */
  margin: 0 10px; /* Adjust the spacing as needed */
}
